# Python
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Selenium / Browser Webdrivers
geckodriver.log
msedgedriver.log
chromedriver.log

# Crawler Data & Cookies (IMPORTANT: Do not commit secrets)
fc2ppvdb.com_cookies.txt
*.url
*.html
*.png
*.jpg

# Virtual Environments
venv/
env/
.venv/
